asn1crypto (1.4.0)
bcrypt (3.1.2)
certifi (2021.10.8)
cffi (1.15.0)
chardet (3.0.4)
cryptography (2.4.2)
Cython (0.23)
dnspython (2.1.0)
enum34 (1.1.2)
httplib2 (0.20.2)
idna (2.7)
ipaddress (1.0.16)
jedi (0.17.2)
Kivy (1.9.1)
Kivy-Garden (0.1.4)
mercurial (3.7.3)
numpy (1.11.0)
parso (0.7.1)
pip (8.1.1)
ptyprocess (0.7.0)
pyasn1 (0.1.9)
pycparser (2.21)
pygame (1.9.1release)
pygobject (3.20.0)
pymongo (3.12.1)
pyOpenSSL (16.2.0)
pyparsing (2.4.7)
requests (2.19.0)
secure-smtplib (0.1.1)
setuptools (20.7.0)
six (1.16.0)
unity-lens-photos (1.0)
urllib3 (1.23)
wheel (0.29.0)

